:root {
    --primary-color: #1B1A17;
    --primary-dark-color: #4d4a43;
    --accent-color: #FF8303;
    --accent-dark-color: #A35709;
    --text-color: #F0E3CA;
}

button {
    border-style: solid;
    border-radius: 7px;
    border-color: var(--accent-color);
    color: var(--text-color);
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
}

button:hover {
    background-color: var(--primary-dark-color);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:active {
    background-color: var(--accent-dark-color);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

button.btn-add {
    padding: 35px;
    font-size: 24px;
    color: var(--accent-color)
}

button.btn-delete {
    padding: 16px;
    color: #FF8303;
}

button.btn-icon {
    padding: 18px;
    background-position: center;
    object-fit: cover;
    object-position: center;
}

button.btn-text {
    font-size: 10px;
    min-width: 64px;
    padding: 5px 7px;
}

.icon-add {
    background-image: url(../assets/icons/add.png);
}

.icon-delete {
    background-image: url(../assets/icons/close.png);
}

.icon-edit {
    background-image: url(../assets/icons/edit.png);
}

.icon-info {
    background-image: url(../assets/icons/info.png);
}

.icon-share {
    background-image: url(../assets/icons/share.png);
}