.icon-add {
    background-image: url(../assets/icons/add.png);
}

.icon-delete {
    background-image: url(../assets/icons/close.png);
}

.icon-edit {
    background-image: url(../assets/icons/edit.png);
}

.icon-info {
    background-image: url(../assets/icons/info.png);
}

.icon-share {
    background-image: url(../assets/icons/share.png);
}

.share-icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
}